# Django Setting 
BLOG_SECRET_KEY=your-secret-key
BLOG_DEBUG=True

# Database settings
BLOG_DATABASE_URL=SQLite:///db.sqlite3

# Redis settings
BLOG_REDIS_URL=redis://localhost:6379/0

# email
BLOG_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
BLOG_DEFAULT_FROM_EMAIL=noreply@blog-api.com